<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029079598300-8o8vq3qft0hv0vt77v2u2r3ljo329pa0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029079598300-8o8vq3qft0hv0vt77v2u2r3ljo329pa0</string>
	<key>API_KEY</key>
	<string>AIzaSyCxLpDidzKi3aKEwIX6WpT8PqBvEyU5SkA</string>
	<key>GCM_SENDER_ID</key>
	<string>1029079598300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>joaobarros.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-83b18</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-83b18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029079598300:ios:a75a90c5b1c30387d0e019</string>
</dict>
</plist>